appdirs==1.4.4
asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
decorator==4.4.2
distlib==0.3.0
enum34==1.1.6
filelock==3.0.12
Flask==1.1.2
gunicorn==19.10.0
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.5.0
ipaddress==1.0.17
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
networkx==2.2
nltk==3.4.5
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.5
pycrypto==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
rdflib==5.0.0
regex==2020.5.14
requests==2.23.0
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==1.9.6
SPARQLWrapper==1.8.5
tqdm==4.46.0
typing==3.7.4.1
urllib3==1.25.9
virtualenv==20.0.21
Werkzeug==1.0.1
wikipedia==1.4.0
zipp==1.2.0
